Library/
Temp/
Obj/
Build/
ProjectSettings/

Assets/*
!Assets/Controls.meta
!Assets/Controls/
!Assets/Controls/*
!Assets/Controls/**/*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pidb.meta
sysinfo.txt
